<div class="show-page-container about-photo">
  <div class="show-text-container">
    <h1 class="show-title">CONTACT US</h1>
  </div>
</div>

<div class="container" style="margin: 80px 0 200px 0;">
  <div class="row">
    <div class="col-12 col-md-4 offset-md-2 mt-5 contact-text contact-center">
      <h1 style="font-size:30px;">GET IN TOUCH</h1>
      <h3 class="my-5" style="font-weight: 100; font-size: 24px;">We'd love to hear from you.</h3>
      <p class="mb-2">Phone // +44 (0)20 7000 000</hp>
      <p class="mb-2">Email // <a href="mailto:info@threadfilms.co" class="">info@threadfilms.co</a></p>
      <p><a href="https://vimeo.com/mgris" target="_blank"><i class="fab fa-vimeo-v mr-2"></i></a> // <a href="https://www.linkedin.com/in/mauriciogris/" target="_blank"><i class="fab fa-linkedin-in mx-2"></i></a> // <a href="https://twitter.com/mau_gris" target="_blank"><i class="fab fa-twitter mx-2"></i></a> // <a href="https://www.instagram.com/maugris/" target="_blank"><i class="fab fa-instagram ml-2"></i></a></p>
    </div>
    <div class="col-6 offset-3 mr-auto col-md-4 offset-md-1 col-lg-3 offset-md-1">
      <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :name, :required => true %>
        <%= f.input :email, :required => true %>
        <%= f.input :message, :as => :text, :required => true %>
        <div class="hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.button :submit, 'SEND MESSAGE', :class=> "btn w-100 contact-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
