<div class="show-page-container contact-photo">
  <div class="m-auto">
    <h1 class="show-title">CONTACT US</h1>
  </div>
</div>
<div class="container form-margin">
  <div class="row">
    <div class="col-10 offset-1 mr-auto col-md-4 offset-md-2 mr-md-0 mt-5 contact-text contact-center">
      <h1 class="contact-title">GET IN TOUCH</h1>
      <h3 class="my-5">We'd love to hear from you.</h3>
      <p class="mb-2">Email&nbsp // &nbsp<a href="mailto:hello@threadfilms.co" class="">hello@threadfilms.co</a></p>
      <p><a href="https://vimeo.com/user96886909" target="_blank"><i class="fab fa-vimeo-v mr-2"></i></a> // <a href="https://www.linkedin.com/in/mauriciogris/" target="_blank"><i class="fab fa-linkedin-in mx-2"></i></a> // <a href="https://twitter.com/mau_gris" target="_blank"><i class="fab fa-twitter mx-2"></i></a> // <a href="https://www.instagram.com/maugris/" target="_blank"><i class="fab fa-instagram ml-2"></i></a></p>
    </div>
    <div class="col-8 offset-2 mr-auto col-sm-6 offset-sm-3 col-md-4 offset-md-1 col-lg-3 offset-lg-1">
      <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
        <%= f.input :name, :required => true %>
        <%= f.input :email, :required => true %>
        <%= f.input :message, :as => :text, :required => true %>
        <div class="hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.button :submit, 'SEND MESSAGE', :class=> "btn w-100 contact-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
